.case-modal
  .body
    .close
    .body__info
      img(src='../media/image/cases/1.jpg' alt='image')
      .info-text
        .name Название обьекта
        .desc
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Arcu dui vivamus arcu felis bibendum ut tristique. Sed augue lacus viverra vitae. Ut pharetra sit amet aliquam id. Nisl nisi scelerisque eu ultrices vitae auctor eu. Sit amet tellus cras adipiscing enim eu.
          p Tincidunt augue interdum velit euismod in pellentesque massa. Posuere sollicitudin aliquam ultrices sagittis orci a scelerisque. Pharetra sit amet aliquam id diam maecenas ultricies mi eget. Eleifend donec pretium vulputate sapien nec sagittis aliquam malesuada. Leo vel fringilla est ullamcorper. Nisi scelerisque eu ultrices vitae auctor eu.
    .body__form
      .title-form Закажите похожий проект прямо сейчас
      form
        .label Ваше имя
        input(
          type='text'
          name='name'
          placeholder='Ваше имя'
        )
        .label Номер телефона
        input(
          type='text'
          name='phone'
          placeholder='Номер телефона'
        )
        button(type='submit').main-button.main-button--color.main-button--dark.main-button--small Отправить

      .form-desc Нажимая на кнопку “Отправить”, вы даете согласие на обработку своих персональных данных

